In [1]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i, "x", j, "=", i * j)
    print("------")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
------

In [5]:
def student_information(class_name, student_name):
    
    print(student_name + " is enrolled in " + class_name, "class. ")
    
student_information('Mathematics', 'Amar')

Amar is enrolled in Mathematics class.

In [9]:
def Amar_information(name, food):
    
    print(name + " like to eats " + food)
    
Amar_information('Amar', 'Chicken')

Amar like to eats Chicken

In [10]:
def Amar_information(name, food):
    
    print(name + " like to eats " + food)
    
Amar_information('Mabus', 'Chicken')

Mabus like to eats Chicken

In [11]:
def enroll_in_courses(student_name, *courses):
    # Enroll a student in multiple courses.
    print("Student: " + student_name)
    print("Enrolled in:")
    for course in courses:
        print("- " + course)
# Example of enrolling a student in three different courses:
enroll_in_courses('Emily', 'Biology 101', 'Chemistry 101', 'Physics 101')

Student: Emily
Enrolled in:
- Biology 101
- Chemistry 101
- Physics 101

In [13]:
def enroll_in_courses(student_name, *courses):
  
    print("Student: " + student_name)
    print("Enrolled in:")
    for course in courses:
        print("- " + course)

enroll_in_courses('Amar', 'Engineering Math', 'Thermodynamics', 'Fluids')

Student: Amar
Enrolled in:
- Engineering Math
- Thermodynamics
- Fluids

In [14]:
def enroll_student(student_name, **details):
     # Enroll a student with additional details.
    print("Enrolling " + student_name + " with the following details:")
    for detail, value in details.items():
        print("- " + detail.replace('_', ' ').title() + ": " + str(value))
# Example of enrolling a student with additional details:
enroll_student('Smith', course='Algebra II', semester='One', payment_method='Credit Card')

Enrolling Smith with the following details:
- Course: Algebra II
- Semester: One
- Payment Method: Credit Card

In [15]:
def enroll_student(student_name, **details):
     # Enroll a student with additional details.
    print("Enrolling " + student_name + " with the following details:")
    for detail, value in details.items():
        print("- " + detail.replace('_', ' ').title() + ": " + str(value))